@{
    ViewBag.Title = "Задачи";
}
<div ng-controller="tasksController">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Поиск" ng-model="searchTask">
            </div>
        </div>
    </form>

    <table class="table table-striped tasks-table">
        <thead>
            <tr>
                <td>Задача</td>
                <td>Статус</td>
                <td>Выполнено, %</td>
                <td>Тип</td>
                <td>Изменена</td>
                <td>Создана</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in Tasks | filter:searchTask">
                <td>{{task.Name}}</td>
                <td> <span title="{{ getStatusName(task.Status) }}" class="status-color-{{task.Status}}"></span></td>
                <td>{{task.Percent}}</td>
                <td>{{ getTypeName (task.Type) }}</td>
                <td>{{task.StatusLastEdit | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{task.CreateDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>