@{
    ViewBag.Title = "Задачи";
}

<table class="table table-striped tasks-table">
    <thead>
        <tr>
            <td>Задача</td>
            <td>Статус</td>
            <td>Выполнено, %</td>
            <td>Тип</td>
            <td>Изменена</td>
            <td>Создана</td>
        </tr>
    </thead>
</table>