@{
    ViewBag.Title = "Задачи";
}
<div ng-controller="tasksController">
    <table class="table table-striped tasks-table">
        <thead>
            <tr>
                <td>Задача</td>
                <td>Статус</td>
                <td>Выполнено, %</td>
                <td>Тип</td>
                <td>Изменена</td>
                <td>Создана</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in Tasks">
                <td>{{task.Name}}</td>
                <td> <span title="{{ getStatusName(task.Status) }}" class="status-color-{{task.Status}}"></span></td>
                <td>{{task.Percent}}</td>
                <td>{{ getTypeName (task.Type) }}</td>
                <td>{{task.StatusLastEdit | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{task.CreateDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>